
input[type=text], textarea {
	padding-left: .5em !important;
}

.sidebar {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 99999; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
}

#header-active-user {
	padding-left: 1em;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.dtp-btn-cancel, .dtp-btn-ok {
	display: none;
}

.radio {
  display: inline;
  opacity: 0;
  width: 1px;
}

.case-study-container {
  padding: .25em 1em;
  text-align: justify;
}

.appendices-container {
  padding: .25em 2em;
}

.appendices-container img {
  max-width: 100%;
  display:block;
  margin:auto;
}